/*      high-level     */
body {
  display: flex;
  flex-direction: column;
}

/*      header     */

header {
  /* for testing only */
  background-color: white;
  height: 15vh;
  display: flex;
}

.left-nav-container {
  width: 70%;
  display: flex;
  align-items: flex-end;
}

.nav-choice {
  display: flex;
  height: 50%;
  margin-left: 3%;
}

.right-nav-container {
  width: 30%;
  display: flex;
  flex-direction: column;
}


/*       main area       */
main {
  /* for testing only */
  background-color: grey;
  height: 105vh;

}

h3 {
  height: 15%;
  font-size: 3em;
  margin-top: auto;
}

.card-container {
  /* for testing only */
  background-color: lightgreen;
  height: 80%;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}



/*      cards       */
.card {
  /* for testing only */
  background-color: lightskyblue;
}